{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/kafedra.css' %}">
    <title>Title</title>
</head>
<body>

<div class="page">
    <div class="card">

        <!-- Top bar -->
        <div class="table-header">
            <form class="d-flex" role="search" action="{% url 'search' %}" method="get">
                <input class="form-control me-2" name="q" value="{{ query }}" type="search" placeholder="Search"
                       aria-label="Search" control-id="ControlID-1">
                <button class="btn btn-outline-success" control-id="ControlID-2" type="submit">Search</button>
            </form>
            <div class="actions">

                <a href="{% url 'pdf' %}"><button>🖨</button></a>
                <a href="{% url 'talaba' %}">Ariza</a>
                <button onclick="exportPDF()">⬇</button>
<!--                <select>-->
<!--                    <option>10</option>-->
<!--                    <option>20</option>-->
<!--                    <option>50</option>-->
<!--                </select>-->
            </div>
        </div>

        <!-- Table -->
        <div class="table-wrapper">
            <table>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Inventor raqam</th>
                    <th>MAC raqam</th>
                    <th>Brend nomi</th>
                    <th>O'lchov birligi</th>
                    <th>Resurs xususiyati</th>
                    <th>Joylashgan bino</th>
                    <th>Javobgar shaxs</th>
                    <th>Foydalanuvchi shaxs</th>
                    <th>Sana</th>
                    <th>Xolati</th>
                </tr>
                </thead>

                <tbody>
                {% for a in materiallar %}
                <tr>
                    <td>{{ a.id }}</td>
                    <td>{{ a.inventor_raqami }}</td>
                    <td>{{ a.mac_raqami }}</td>
                    <td class="highlight">{{ a.resurs_nomi }}</td>
                    <td>{{ a.ulchov_birligi }}</td>
                    <td>{{ a.resurs_xususiyati }}</td>
                    <td>{{ a.joylashgan_bino }}</td>
                    <td>{{ a.javobgar_shaxs }}</td>
                    <td>{{ a.foydalanuvchi_shaxs }}</td>
                    <td>{{ a.kirish_vaqti }}</td>
                    <td>{{ a.status }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>

</body>
</html>


</body>
</html>